MAIL_TO=biuro@platinus.pl
MAIL_FROM=biuro@platinus.pl
MAIL_FROM_NAME="Formularz Platinus.pl"
MAIL_SUBJECT="Nowe zapytanie ze strony Platinus.pl"

SMTP_HOST=serwer123456.home.pl
SMTP_PORT=465
SMTP_USER=biuro@platinus.pl
SMTP_PASS=
SMTP_SECURE=ssl

RATE_LIMIT_MAX_REQUESTS=5
RATE_LIMIT_WINDOW_SEC=600
